@import 'variables';

* {
  outline: none;
}

a:focus,
a:hover,
input:focus,
input:hover {
  text-decoration: none;
  color: inherit;
}

body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  padding: 28px 0;
  transition: 0.4s;
  &.fixed {
    background: #553ade;
    padding: 5px 0;
  }
  .container {
    max-width: 1182px;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    a {
      color: #ffffff;
      font-family: "Noto Sans";
      font-size: 15px;
      text-transform: uppercase;
      padding: 0 3px 6px;
      position: relative;
      &:before {
        content: "";
        width: 0;
        height: 3px;
        background-color: #ffffff;
        transition: 0.4s;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &.active,
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

* {
  line-height: 1.2;
}

.lang {
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  margin-left: 76px;
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    a {
      color: #ffffff;
      font-size: 15px;
      text-transform: uppercase;
      font-family: "Noto Sans";
      padding: 0 3px 6px;
      position: relative;
      &:before {
        content: "";
        width: 0;
        height: 3px;
        background-color: #ffffff;
        transition: 0.4s;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &.active {
        font-weight: 700;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.bonate-btn {
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 12px 26px;
  transition: 0.3s;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e42d64;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f32f6a;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &:hover {
    color: #fff;
  }
}

.head-carousel {
  max-height: 100vh;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
  .owl-dots {
    max-width: 810px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    .owl-dot {
      display: inline-block;
      width: 11px;
      height: 11px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin: 0 2.5px;
      &.active {
        background-color: #ffffff;
      }
    }
  }
}

*:focus,
*:active {
  outline: 0 !important;
}

.head {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.head-item {
  .h1 {
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  p {
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 27px;
    margin-bottom: 50px;
  }
}

.more-btn {
  color: #f32f6a;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 14px 24px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #ccc;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &:hover {
    color: #fff;
  }
}

.event {
  background-color: #553ade;
  padding: 120px 0 69px;
}

.h2 {
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 35px;
}

.event-item {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(37, 21, 119, 1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(37, 21, 119, 1);
  box-shadow: 0px 0px 25px 0px rgba(37, 21, 119, 1);
  margin-bottom: 57px;
  .event-content {
    margin: 59px 28px 34px 53px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .date {
      color: #553ade;
      font-family: "Noto Sans";
      font-size: 18px;
      font-weight: 700;
      span {
        display: inline-block;
        &:first-child {
          margin-right: 34px;
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      .title {
        color: #4827f3;
        font-family: "Noto Sans";
        font-size: 38px;
        margin-bottom: 16px;
      }
      .location {
        color: #553ade;
        font-family: "Noto Sans";
        font-size: 14px;
        padding-left: 17px;
        background: url('../images/location.svg') no-repeat left center;
      }
      .link {
        color: #ffffff;
        font-family: "Noto Sans";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 100px;

        padding: 12px 39px;
        display: block;
        max-width: 120px;
        margin-left: auto;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        background: #f32f6a;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #553ade;
          border-radius: 100%;
          -webkit-transform: scale(2);
          transform: scale(2);
          -webkit-transition-property: transform;
          transition-property: transform;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
        }
        &:hover:before,
        &:focus:before,
        &:active:before {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.text-center {
  text-align: center;

}

.all-link {
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  border: 2px solid #ffffff;
  padding: 14px 19px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #553ade;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

}

.team {
  background-color: #34cbcc;
  padding: 117px 0 56px;
  overflow: hidden;
  .h2 {
    margin-bottom: 25px;
  }
  .all-link {
    max-width: 200px;
    width: 100%;
    margin: 0 40px;
    &:before {
      background: #34cbcc;
    }
  }
}

.team-carousel {
  width: 96vw;
  margin-bottom: 30px;
  position: relative;
  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
    opacity: 0;
    .owl-next {
      width: 378px;
      height: 378px;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);

    }
  }
  .item {
    padding: 35px;
    a {
      -webkit-box-shadow: 0px 0px 25px 0px rgba(37, 145, 146, 1);
      -moz-box-shadow: 0px 0px 25px 0px rgba(37, 145, 146, 1);
      box-shadow: 0px 0px 25px 0px rgba(37, 145, 146, 1);
      display: block;
      position: relative;
      color: #ffffff;
      overflow: hidden;
      img {
        transition: 0.4s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      .content {
        position: absolute;
        bottom: 33px;
        left: 40px;
        width: 100%;
        font-family: "Noto Sans";
        font-size: 14px;
        color: #ffffff;

        .title {
          display: block;
          font-size: 25px;
          line-height: 30px;
          font-weight: 700;
          margin-bottom: 10px;
          &.large {
            font-size: 41px;
            font-weight: 700;
            line-height: 50px;
          }
        }
      }
    }
  }
}

.help {
  padding: 117px 0 145px;
  background-color: #f32f6a;
}

.help-item {
  max-width: 756px;
  min-height: 378px;
  background: url('../images/1pexels-photo-4283381.png') no-repeat center;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(182, 31, 77, 1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(182, 31, 77, 1);
  box-shadow: 0px 0px 25px 0px rgba(182, 31, 77, 1);
  padding: 75px 56px 46px;
  .info {
    color: #4827f3;
    font-family: "Noto Sans";
    font-size: 18px;
    span {
      display: block;
      color: #4827f3;
      font-family: "Noto Sans";
      font-size: 38px;
    }
    margin-bottom: 124px;
  }
  margin-bottom: 85px;
}

.download-btn {
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 16px 39px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #f32f6a;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #553ade;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &:hover {
    color: #fff;
  }
}

.help-btn {
  color: #ffffff;
  font-family: "Noto Sans";
  font-size: 28px;
  padding-top: 39px;
  text-align: center;
  span {
    color: #ffffff;
    font-family: "Noto Sans";
    font-size: 12px;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  max-width: 756px;
  width: 100%;
  min-height: 136px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,
  0,
  0,
  0);
  position: relative;
  overflow: hidden;
  background-color: #553ade;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  box-shadow: 0 6px 10px #b91446;
  border-radius: 10px;

  &:after {
    content: "";
    background-image: url('../images/btn-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f32f6a;

    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before,
  &:focus:before,
  &:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &:hover {
    color: #fff;
  }
}